<section id="container">
    
    <form>
        <h2>PUT Client</h2>
        <div class="labels">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" name="id" readonly>
        </div>
        <div class="labels">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome">
        </div>
        <div class="labels">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" name="endereco">
        </div>
        <div class="labels">
            <button type="submit" class="put-button">Atualizar</button>
        </div>
    </form>
</section>